/*全局*/
body {
	height: 4000px;
	background-color: #f3f5f7;
}
* {
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
}
input,
button {
	border: none;
	outline: none;
}
ul {
	list-style: none;
}
.container {
	width: 1200px;
	margin: 0 auto;
}
.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after {
	clear: both;
}
.clearfix {
	*zoom: 1;
}
.li-h3 {
	color: #050505;
	font-weight: normal;
	font-size: 14px;
	padding: 18px 20px 0px 24px;
}
.li-p {
	position: absolute;
	color: #999999;
	font-size: 12px;
	padding-left: 24px;
	bottom: 14px;

}
/*header start*/
.header {
	height: 100px;
	box-sizing: border-box;
	padding: 29px 160px;
}
.header_nav {
	margin: 0 auto;
	vertical-align: top;
	float: left;
}
.header_nav>img {
	vertical-align: top;
}
.header_nav>a {
	display: inline-block;
	padding: 0 10px;
	margin-left: 30px;
	height: 42px;
	line-height: 42px;

}
.header_nav>a:hover{
	border-bottom: 2px solid #00a4ff;
}
.header_nav>a:hover,
.header_nav>a:active,
.header_nav>a:visited {
	color: #050505;
}
.header .search input {
	border: #00a4ff 2px solid;
	padding-left: 15px;
	width: 360px;
	height: 38px;
	border-right: none;
	line-height: 42px;
	float: right;
}
.header .search button {
	width: 50px;
	height: 42px;
	background: #00a4ff url(Images/studyOnline/fa-search.png) center center no-repeat;
	line-height: 42px;
	float: right;

}
.header .personal {
	float: right;
	line-height: 42px;
	height: 42px;
	margin-left: 50px;
}
.header .personal .first {
	float: left;
	margin: 15px 20px;
	line-height: 42px;
}
.header .personal .photo {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	float: left;
	background: url(Images/studyOnline/photo.png) no-repeat center;
	margin: 6px 5px;

}
.header .personal a {
	float: left;
}

.abs {
	position: absolute;
	/*left: -40px;*/
	margin: 10px 0 0 -60px;
}

/*head end*/
/*banner start*/
.banner {
	background-color: #1c036c;
	height: 420px;
}
.banner .container {
	height: 420px;

	position: relative;
	background: url(Images/studyOnline/banner.png) no-repeat 0 0;
}
/*navbar start*/
.banner .navbar {
	float: left;
}
.banner .navbar li {
	height: 42px;

}
.banner .navbar ul {
	width: 190px;
	height: 420px;
	padding: 22px;
	box-sizing: border-box;
	background-color: rgba(0,0,0,0.3);
	border-left:;
}
.navbar li a {
	color: white;
	font-size: 14px;
	display: block;
	width: 150px;
}
.navbar li span {
	float: right;
	font-family: arial;
}
.navbar li a:hover {
	color: #00a4ff;
}
/*navbar end*/
/*timetable start*/
.container .timetable {
	width: 230px;
	height: 300px;
	background-color: white;
	float: right;
	margin-top: 50px;
}
.container .timetable dt {
	height: 48px;
	background-color: #9bceea;
	text-align: center;
	line-height: 48px;
	color: #ffffff;
}
.container .timetable dd {
	color: #5f5f5f;
	height: 60px;
	border-bottom: 1px solid #eaeaea;
	margin: 0 18px;
	box-sizing: border-box;
	padding-top: 12px;
}
.container .timetable dd:last-child a {
	color: #00a4ff;
	text-align: center;
	line-height: 40px;
	height: 40px;
	display: block;
	border: 1px solid #00a4ff;
}
.timetable dd:last-child a:hover{
	background-color: blue;
}
.container .timetable dd:last-child {
	border: none;
}

.container dd span {
	font-size: 14px;
	color: #cccccc;
}
.container dd h4 {
	font-weight: normal;
}
/*timetable end*/
.container .choose ul {
	width: 180px;
	/*background-color: blue;*/
	position: absolute;
	bottom: 10px;
	left: 50%;
	margin-left: -90px;
}
.container .choose li {
	float: left;
	height: 12px;
	width: 12px;
	border-radius: 50%;
	background-color: rgba(255,255,255,0.4);
	margin-right: 16px;
}
.container .choose li:hover {
	width: 20px;
	border-radius: 6px;
	background-color: white;
}
/*banner end*/
/*recomand-nav start*/
.recomand-nav {
	height: 60px;
	box-sizing: border-box;
	margin-top: 5px;
	background-color: #fff;
	padding: 20px 30px;
	box-shadow: 0 2px 1px rgba(0,0,0,0.4);
}
.recomand-nav ul li {
	float: left;
	padding: 0 30px;
	font-size: 14px;
	border-right: 1px solid #ccc;
}

.recomand-nav ul li:first-child {
	color: #00a4ff;
}
.recomand-nav ul li:last-child{
	float: right;
	border: none;
}
.recomand-nav  li a {
	font-size: 12px;
	color: #00a4ff;
}
/*recomand-nav end*/

/*recomand-main start*/
.recomand-main {
	margin-top: 30px;
}
.recomand-main .rc-head {
	height: 40px;
}
.recomand-main .rc-head a {
	float: right;
	color: #a5a5a5;
	font-size: 10px;
	padding-right: 30px;

}
.recomand-main .rc-head h2 {
	font-weight: normal;
	font-size: 16px;
	color: #494949;
}
.content li .new {
	position: absolute;
	margin-top: 5px;
	margin-left: 192px;
}
.recomand-main .content li {
	position: relative;
	width: 228px;
	height: 270px;
	background-color: #fff;
	float: left;
	overflow: hidden;
	margin: 0 15px 15px 0;
}
.recomand-main .content li:nth-child(5n) {
	margin-right: 0;
}
.recomand-main .content li:nth-child(n+6) {
	margin-bottom: 0;
}
.recomand-main .content li:hover {
	box-shadow: -2px 2px 2px rgba(0,0,0,0.2); 
}
/*.content li h3 {
	color: #050505;
	font-weight: normal;
	font-size: 14px;
	padding: 18px 20px 0px 24px;
}
.content li p {
	position: absolute;
	color: #999999;
	font-size: 12px;
	padding-left: 24px;
	bottom: 14px;

}*/
.content li span {
	color: #ff7c2d;
}

/*recomand-main end*/
/*programing start*/
.programing {
	margin-top: 35px;
}
.programing .pro-hd {
	height: 40px;
}
.programing .pro-hd h3{
	float: left;
	font-weight: normal;
	color: #494949;
}
.programing .pro-hd ul {
	margin: 0 auto;
	width: 400px;
}
.programing .pro-hd li {
	float: left;
	padding: 0 35px;
	font-size: 14px;
}
.pro-hd li>a {
	color: #868686;
}
.programing .pro-hd>a {
	float: right;
	font-size: 12px;
	padding-right: 30px;
	color: #868686;
}
.pro-hd a:hover {
	color: #00a4ff;
}
.programing .content .pic-left {
	float: left;
}
.programing .content .pic-right,
.programing .content>ul {
	float: right;
	
}
.programing .content>ul {
	margin-top: 23px;
}
 .content>ul li {
 	position: relative;
 	float: left;
 	width: 227px;
 	height: 269px;
 	background-color: #fff;
 	margin-left: 16px;
 	overflow: hidden;
 }
/*programing end	*/
/*cowboy start*/
.cowboy h2 {
	height: 70px;
	margin-top: 35px;
	font-size: 16px;
	font-weight: normal;
	color: #494949
}
.cowboy .introduction li {
	position: relative;
	float: right;
	width: 228px;
	height: 320px;
	overflow: hidden;
	text-align: center;
	margin-left: 15px;
	margin-bottom: 30px;
}
.cowboy .introduction li:nth-child(5) {
	margin-left: 0;
}
.cowboy .introduction li:nth-child(n+6) {
	margin-bottom: 0;
}
/*person start*/
.introduction .person {
	position: absolute;
	color: #ffffff;
	padding: 0 10px 10px ;
	bottom: 0;
	height: 120px;
	background-color: rgba(0,0,0,0.3);
}
.introduction .person h3,
.introduction .person h5 {
	font-weight: normal;
	padding-top: 5px;
}
.introduction .person p {
	padding-top: 10px;
	font-size: 14px;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
	overflow: hidden;
	line-height: 20px;
}
.introduction .person:hover {
	height: 320px;
}
.introduction .person:hover p {
	/*padding-top: 10px;
	font-size: 14px;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	overflow: hidden;*/
	line-height: 24px;
	-webkit-line-clamp: 13;
}
.introduction .person:hover h3 {
	padding-top: 50px;
}
/*person end*/
..introduction>img {
	float: left;
}
/*cowboy end;*/
/*footer start*/
.footer{
	background-color: #fff;
	margin-top: 100px;
	height: 273px;
}
.footer .content {
	padding: 32px 32px 0 0;
}
.footer .con-left {
	
	float: left;
}
.content .con-left p {
	font-size: 12px;
	margin: 20px 0 ;
}
.content .con-left a {
	display: block;
	width: 120px;
	height: 35px;
	border: 1px solid #00a4ff;
	color: #00a4ff;
	line-height: 35px;
	text-align: center;
}
.content .con-right{
	float: right;
}
.content .con-right dl {
	float: left;
	width: 230px;
}
.content .con-right dl:last-child {
	width: 80px;
}
.content .con-right dt {
	font-size: 14px;
	padding-bottom: 5px;
}
.content .con-right dd {
	font-size: 12px;
}
/*footer end*/